.navbar-color {
  background-color: #3B7A57 !important;
}

body {
    background-image: url('/images/uh-manoa-campus-center.jpg') !important;
    background-size: auto;
    height: 100%;
}

.backdrop {
    text-shadow: 5px 5px 5px #000000;
}

.margin-message {
  margin-top: 20px;
  margin-bottom: 240px;
  width: 100%;
}
