body {
    background-color: #3B7A57 !important;
    background-size: auto;
    height: 100%;
}

.backdrop {
    text-shadow: 5px 5px 5px #000000;
}

.margin-message {
    margin-top: 20px;
    margin-bottom: 240px;
    width: 100%;
}

.manoa-bg {
    background-image: url('/images/uh-manoa-campus-center.jpg') !important;
}

.manoa-green {
    background-color: #3B7A57 !important;
    color: white !important;
}

.signup-margin-message {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-back {
    background-color: #3B7A57 !important;
    margin: 50px;
}

.search-bar {
    background-color: #3B7A57 !important;
}
